//META{"name":"crimson-night","description":"a dark wallpaper theme with 2 accent colors","author":"moth#0243","version":"0.6.0"}*//{}

@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/lilacmedb.css); 
@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/guildborder.css); 
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700"');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
	--wordmark:"Crimson-Night by moth#0243";
	--background:url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/be4e4d2a3a3008d6b00dde56830efe37.jpg);  /*Wallpaper.*/
	--Transparency: hsla(0, 0%, 0%, 0.466);
	--boxcolor: rgba(51, 11, 79,0.3);
	--boxcolor2:rgba(255, 12, 77, .4);
	--accentcolor: #ff0c4d; /*other accent color #5a3f72*/
	--accentcolor2:#471259;
	--round: 20%;
	--round2: 20%;
	--font: 'nunito','Comfortaa';
	--textshadow:0px 0px 2px rgba(0,0,0,0.8);
	--textcolor: rgba(255,255,255,0.8);
	--textcolor1:  #555;
}

