//META{"name":"crimson-night","description":"a dark wallpaper theme with 2 accent colors","author":"moth#0243","version":"0.1.0","website":"https://github.com/omnomnom215/LilacMedb-BetterDiscord-Theme"}*//{}

@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/lilacmedb.css); 
@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/guildborder.css); 
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700"');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/*this is the first beta build for Crimson night the main theme for the lilacmedb.css file. lilacmedb is also availble for testing at github, feel free to customize this theme, almost everything is possible to change if you need help moff@#0243*/

:root {
	--wordmark:"Crimson-Night by moth#0243"; /*you can free change the wordmark, but i ask you to not claim the theme as you own, i still own the imports they are the theme not this file*/
	--background:url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/be4e4d2a3a3008d6b00dde56830efe37-darker.png);  /*Wallpaper. gifs will work but won't be animated*/
	--bgtransparency: rgba(0,0,0,.2);
	--homeiconbg:url('https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/Assets/house-icon.svg');
	--Transparency: hsla(0, 0%, 0%, 0.3); /*background darkness*/
	--boxcolor: rgba(51, 11, 79,0.3); /*second accent color with transparency*/
	--boxcolor2: rgba(255, 12, 77, .4); /*primary accent color with transparency*/
	--accentcolor: #ff0c4d; /*primary accent color*/
	--accentcolor2:#811a99; /*secondary accent color this color isn't used a lot, box color will see more use you can probably ignore this for the most part*/
	--Round0: 10px; /*round variable in pixel value  changes the size of avatars and other small details 50% = round 0% = square*/
	--Round1: 10%; /*round variable in % value changes the size of avatars and other small details*/
	--font: 'nunito','Comfortaa'; /*this controls all fonts, you can import google or use system font, as long as you install and then restart discord to apply them*/
	--textshadow: 0px 0px 2px rgba(0,0,0,0.8); /* the optional text shadow on everything, this is to help make text more readable.*/
	--textcolor: rgba(255,255,255,0.8); /*the main text color, a lot of elements are #fff i need to update those expect another variable soon*/
	--textcolor1: rgba(255,255,255,0.4); /*this is a darker/lighter more transparent verison of textcolor for sub text*/
	--gbcolor1:#9614d0;
   	--gbcolor:#d04814;
}
