/* minor credits to devilbro, satoru and a few others for helping me come up with the wrong way to make borders on the guilds section */


.guild-1EfMGQ .guildInner-3DSoA4{
    border-radius: calc(var(--Round1) - 2px)!important;
    background-color:rgba(0,0,0,.2)!important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before,
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
	top: 50%!important;
	left: -2px!important;
	border-radius:var(--Round1)!important;
	width:100%!important;
	background-color:transparent;
	z-index:unset !important; /*reset from vsg*/
}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {
    border: 2px solid var(--boxcolor2);
    height: 100% !important;
    margin-top: -27px !important;
    left: -2px!important;
    width: 100%!important;
    border-radius: var(--Round1)!important;
	background-color:var(--boxcolor2)!important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before {
    border: 2px solid var(--accentcolor);
    height: 100% !important;
    margin-top: -27px !important;
    left: -2px !important;
    width: 100%!important;
    border-radius: var(--Round1);
    background-color:var(--accentcolor)!important;
}
