#app-mount .wrapper-1Rf91z foreignObject,
#app-mount .wrapper-1Rf91z .wrapper-25eVIn, 
#app-mount .wrapper-1Rf91z .svg-1X37T1 {
    border-radius: calc(var(--Round1) - 2px)!important;
    mask:none;
}

.listItem-2P_4kh .pill-31IEus {
    left: 8px!important;
    position: absolute;
    top: -1px;
}

.listItem-2P_4kh .wrapper-sa6paO {
    overflow: visible;
    height:50px;
    width: 50px;
}

#app-mount .listItem-2P_4kh .wrapper-sa6paO .item-2hkk8m {
    background-color: var(--gbcolor1);
    border-radius:var(--Round1)!important;
    display: block;
    left: 15px;
    position: absolute;
    width: 53px!important;
    height:53px!important;
}

#app-mount .listItem-2P_4kh.folder.closed .pill-31IEus .item-2hkk8m,#app-mount .listItem-2P_4kh.folder.open .pill-31IEus .item-2hkk8m{
    background-color: #0000;
}



.theme-dark .button-OhfaWu.selected-wSa2KV, .theme-light .button-OhfaWu.selected-wSa2KV{
   background-color: rgba(0,0,0,.4)
}
.theme-dark .button-OhfaWu{background:rgba(0,0,0,0)}

.wrapper-1Rf91z .pill-2uzAFe{
	left: 28px !important;
}

.wrapper-1Rf91z .pill-1m5BUr{
	left:-2px !important;
}

#app-mount .wrapper-1Rf91z .pill-31IEus,#app-mount .wrapper-1Rf91z .pill-3YxEhL {
    left: -2px !important;
}

.wrapper-1BJsBx .homeIcon-tEMBK1 path{display:none}



/* minor credits to devilbro, satoru and a few others for helping me come up with the wrong way to make borders on the guilds section */
/*i didn't really do all that much code myself hahahaha

#app-mount .container-2td-dC .wrapper-2lTRaf{
    border-radius: calc(var(--Round1) - 2px)!important;
    background-color:rgba(0,0,0,.2)!important;
}

#app-mount .wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.unread-2OHH1w:before,
#app-mount .wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before {
	top: 50%!important;
	left: -2px!important;
	border-radius:var(--Round1)!important;
	width:100%!important;
	background-color:transparent;
	z-index:unset !important;
}
#app-mount .wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.unread-2OHH1w:before {
    border:2px solid var(--gbcolor);
    height: 100% !important;
    margin-top: -27px !important;
    left: -2px!important;
    width: 100%!important;
    border-radius: var(--Round1)!important;
	background-color:var(--gbcolor)!important;
}

#app-mount .wrapper-1Rf91z .scroller-2TZvBN .container-2td-dC.selected-nT-gM3:before {
    border:2px solid var(--gbcolor1);
    height: 100% !important;
    margin-top: -27px !important;
    left: -2px !important;
    width: 100%!important;
    border-radius: var(--Round1);
    background-color:var(--gbcolor1)!important;
}*/
