/*font and text shadow stuff*/
::-webkit-input-placeholder, body, button, input, select, textarea{font-family: var(--font),sans-serif!important;text-shadow:var(--textshadow)!important;text-rendering: optimizeLegibility !important;}
::-webkit-input-placeholder{color:var(--accentcolor) !important}
.theme-dark .textArea-2Spzkt,.theme-dark .markup-2BOw-j,.theme-dark .membersGroup-v9BXpm,.theme-dark .activity-1IYsbk,.theme-dark .header-ykumBX .title-3pkaKd {color:var(--textcolor)!important;}
/* Scrollbars */
::-webkit-scrollbar-thumb {border:2px solid var(--boxcolor) !important; background-color:transparent !important;} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {border-color: transparent !important; background: transparent !important;} 
::-webkit-scrollbar-corner {display: none !important;}
/* disabling scroll bar on emoji */
.scroller-2FKFPG::-webkit-scrollbar {width: 0px;}

/*basic main transparent elements*/

/*background image*/
#app-mount {background: var(--background) center top/cover no-repeat;animation: none;} 

/*back ground stuff*/ 
.container-2lgZY8, .app .content-yTz4x3,.app .chat-3bRxxu,.container-2Thooq,.container-PNkimc,
.app .layer-3QrUeG, .app .layers-3iHuyZ,.app .typing-2GQL18,.video-1FfuMD,.theme-dark .headerBar-UHpsPw{background: hsla(0, 0%, 0%, 0) !important;}
.contentRegion-3nDuYy,.sidebarRegion-VFTUkN,.app .standardSidebarView-3F1I7i,
.app .standardSidebarView-3F1I7i .content-region,.app .guild-1EfMGQ .guildInner-3DSoA4{background:rgba(0,0,0,.2) !important;}
/* box-shadow and webkit box shadow removal */
.theme-dark .headerBar-UHpsPw,.theme-dark .header-ykumBX,.theme-dark .messagesPopoutWrap-1MQ1bW,.theme-dark .modal-3HD5ck{box-shadow:none;-webkit-box-shadow:none;}

.channels-Ie2l6A,.app .messagesWrapper-3lZDfY,.app .members-1998pB,.app .activityFeed-28jde9, .app .wrapper-29NfPK,.app .title-3qD0b-,.search-bar.search-bar-light .search-bar-inner{background: var(--Transparency) !important;}
.app .search-results-wrap, .app .search-results-wrap .search-result .search-result-message.hit,
.app .search-results-wrap .search-result.expanded .search-result-message.hit{background: var(--Transparency) !important;}
.app .guildsWrapper-5TJh6A, #friends,.app #friends{background: var(--Transparency);}

/*member icon color*/
.app .member-3W1lQa:hover .content-OzHfo4, .member-3W1lQa.popout-open .content-OzHfo4, .member-3W1lQa.popout-open .content-OzHfo4{Background: var(--boxcolor) !important;}

/*member icon zoom on hover*/
.member-3W1lQa{transition: transform 0.3s;}
.member-3W1lQa:hover{transform: scale(1.05);}

/* hide public button and guild seperator */
#bd-pub-li,.guildSeparator-1X4GQ1{display:none;}

/* no idea what this stuff does currently */
.theme-dark .dividerEnabled-2TTlcf,.theme-dark .channelTextArea-rNsIhG,.container-1UB9sr{border:none;}
.theme-dark .attachButtonDivider-3Glu60{display:none}
.base-3dtUhz{border-radius:0 0 0 0}
.theme-dark .homeIcon-1FoKUJ{display:block;}

/*here is where it says typing...*/
.app .typing-2GQL18{background: transparent !important;}
 /*around the text box*/
.app .chat-3bRxxu form {Background:var(--Transparency);	margin-left: 0px !important;margin-right: 0px !important;}
.channelTextArea-rNsIhG {padding-top: 10px;}
/*here is where the textbox is*/ 
.app .inner-zqa7da {background: var(--boxcolor);margin-left: 20px;margin-right: 20px;border-radius:20px;} 
.innerAutocomplete-1PN280{border-radius:0 0 20px 20px;}
/*title*/
.app .title-3qD0b-,.header-2o-2hj{-webkit-box-shadow: none;box-shadow: none;}
/*top title bar*/
.titleBar-AC4pGV::after {background: var(--Transparency) !important;content:""; position:absolute; z-index:-1; top:0; left:0; right:0; width:100%; height:22px}

/* blocked messages and chat area dividers */
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,.theme-dark .messageGroupBlocked-3wrQQX{background-color: var(--boxcolor)!important;border:none;border-radius:5px;color:var(--accentcolor)}
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf{background-color: var(--boxcolor)!important;border:none;}
#app-mount .divider-3gKybi span{background-color:transparent !important;}


/*channel zoom on hover*/
.contentHoveredText-2D9B-x:hover, .contentHoveredVoice-3p_NEO:hover{transform: scale(1.05);} 

.theme-dark .username-_4ZSMR{opacity: .9;}

/* Roundness */
.app .mask-3OgeRz {-webkit-mask: none;mask: none;}

.app .image-33JSyf,.app .avatar-large, .app .avatar-profile, .app .small-5Os1Bb,.app .avatar-small,.app .avatarHint-1qgaV3,
.app .title-3qD0b- .status, .app .titleCall-_b9o8P .status, .app .avatar-xlarge,.app .avatar-xsmall, .app .avatar-xxlarge,.app .statusProfile-3ynqtt  {border-radius: var(--round) !important;}
.app .badge-1GsMF2,.app .guildsWrapper-5TJh6A .guildsAdd-21_IdK,.app .guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq,
.app .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4{border-radius:var(--round2) !important;}

.header-2o-2hj:hover,.popout-open .header-2o-2hj{border-radius:15px;background-color:var(--boxcolor)}

/*search bar*/
.app .search .searchBar-2_Yu-C, .theme-dark .search .search-bar{background-color: var(--boxcolor);}
.search-bar .search-bar-inner,.search-bar{border:none;background:rgba(0,0,0,0);}
.search-bar input::-webkit-input-placeholder,.theme-dark .search .search-bar .public-DraftEditorPlaceholder-root{color:var(--accentcolor);font-size:1.1em !important;}


/*channel select*/
.unread-1Dp-OI{display:none;}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB{color:var(--accentcolor)}
.channel-2QD9_O.selected-1HYmZZ a,.channel-2QD9_O:hover a {background-color:var(--boxcolor)}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO{background: var(--boxcolor); transition: transform 0.3s;border-radius:10px}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H{color:var(--accentcolor2);}
.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1{color:var(--accentcolor2);}
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ,.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw{color:#343434;}
.nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5,.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd, .nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI{color:var(--accentcolor);}
.colorConnectedText-1c_uzY,.colorDefaultText-oas-QM, .colorConnectedVoice-3kyvUN, .colorDefaultVoice-3wYlhb,
.colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl{color:var(--accentcolor2);opacity:1;}
.colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S{color:var(--accentcolor);opacity:1;}
/*context menu*/
.theme-dark.contextMenu-HLZMGh{background-color: var(--boxcolor); color:var(--accentcolor); border-radius: 5%}
.theme-dark.contextMenu-HLZMGh .item-1Yvehc{color: var(--accentcolor);}
.theme-dark .itemGroup-1tL0uz{border-color:var(--boxcolor)}
.theme-dark.contextMenu-HLZMGh .item-1Yvehc:hover{background: var(--boxcolor);color: var(--accentcolor);}
.app .itemGroup-1tL0uz{border-color: transparent;}
#app-mount .autocomplete-1vrmpx,.app .autocompleteInner-zh20B_{background-color: rgba(0,0,0,.4);box-shadow: 0 0 3px 1px #000;}
.userPopout-3XzG_A{background:rgba(0,0,0,.4);border-color:transparent;}
#app-mount .selectorSelected-1_M1WV{background-color: var(--boxcolor);}
#app-mount .menu-Sp6bN1{background-color: var(--boxcolor); color:var(--accentcolor); border-radius: 5%}
#app-mount .item-1GzJrl{color: var(--accentcolor);}
#app-mount .item-1GzJrl:hover{background: var(--boxcolor);color: var(--accentcolor);}
#app-mount .item-1GzJrl.leave-1DRJfn{color:rgba(255, 50, 50, .8);text-shadow:0 0 1px rgba(0,0,0,.8);}
.lookFilled-1Gx00P.colorRed-1TFJan{background-color:rgba(255, 50, 50, .6);}
.lookFilled-1Gx00P.colorRed-1TFJan:hover{background-color:rgba(255, 80, 80,1);}

.app .autocomplete-1vrmpx,.app .autocompleteInner-zh20B_{background-color: rgba(0,0,0,.4);box-shadow: 0 0 3px 1px #000;}
.app .selectorSelected-1_M1WV{background-color: var(--boxcolor);}

.theme-dark .container-3cGP6G{background:var(--Transparency);}
.theme-dark .item-2J1YMK{color:var(--boxcolor2)}
.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover{color:var(--accentcolor)}
/*modals*/
.theme-dark .modal-3HD5ck,.theme-dark .keyboardShortcutsModal-3piNz7{background:var(--boxcolor);}
.theme-dark .wrapper-2ZbzR9{background:transparent !important;}
.theme-dark .defaultColor-1_ajX0{color:#fff;}
.theme-dark .primary-jw0I4K,.theme-dark .protip-YaFfgO{color:var(--textcolor);}
.theme-dark .close-18n9bP{color:var(--textcolor);}
/* upload modal */
.uploadModal-2ifh8j,.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{background-color:var(--boxcolor);border:2px solid var(--accentcolor);}
.uploadModal-2ifh8j .footer-3mqk7D{background-color:transparent;}
.uploadModal-2ifh8j .footer-3mqk7D .button{margin-right:4px;color:var(--accentcolor);background-color:var(--boxcolor);height: 38px;}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover{opacity:0.8;text-decoration:none;}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary{margin-right:0px!important;background-color:var(--boxcolor);}
.uploadModal-2ifh8j .inner-3nWsbo{border:none}
.theme-brand .inner-zqa7da{background-color:var(--boxcolor)}
/*pinned message modal*/
.theme-dark .header-ykumBX,.theme-dark .footer-1kmXd4{background-color:transparent!important;border:none !important;}
.theme-dark .messagesPopoutWrap-1MQ1bW{background-color:var(--Transparency);border:none !important;}
.theme-dark .messageGroupWrapper-o-Zw7G{background-color:var(--boxcolor);border:none !important;}
.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN{color:var(--textcolor)}
/*profile modals*/
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,.theme-dark .note-3kmerW textarea:focus{background:var(--Transparency);}
.theme-dark .quickMessage-1yeL4E{background:var(--boxcolor);border-color:transparent;}
.theme-dark .quickMessage-1yeL4E::-webkit-input-placeholder,.theme-dark .note-3kmerW textarea::-webkit-input-placeholder{color:var(--accentcolor)}
.bodyTitle-Y0qMQz{color:var(--textcolor1);}
.theme-dark .note-3kmerW textarea{color:var(--textcolor)}
.theme-dark .footer-1fjuF6{border-color:transparent !important;}
.userPopout-3XzG_A{box-shadow:none; -webkit-box-shadow:none;}
.bodyTitle-Y0qMQz{color:var(--textcolor)}
/* profile roles */
.roleCircle-3xAZ1j{border-radius:var(--round)}
.role-2irmRk{border:2px solid; border-radius:6px;}
/*full sized profile*/
#app-mount .topSectionNormal-2-vo2m,#app-mount .headerNormal-T_seeN,#app-mount .topSectionNormal-2-vo2m{background-color:var(--Transparency);}
.topSectionPlaying-1J5E4n,#app-mount .headerPlaying-j0WQBV,.topSectionPlaying-1J5E4n{background-color:var(--boxcolor2)}
.topSectionStreaming-1Tpf5X,#app-mount .headerStreaming-2FjmGz,.topSectionStreaming-1Tpf5X{background-color:rgba(80, 0, 255, 0.6)}
.topSectionSpotify-1lI0-P,#app-mount .headerSpotify-zpWxgT,.topSectionSpotify-1lI0-P{background-color:rgba(33, 255, 141, 0.6)}
.topSectionXbox-3fWLjS,#app-mount .headerXbox-3G-4PF,.topSectionXbox-3fWLjS{background-color:rgba(255, 89, 0, 0.6)}
.headerFill-adLl4x{background-color:rgba(0,0,0,.2)}
.theme-dark .body-3ND3kc{background:var(--Transparency)}
.root-SR8cQa{border: 2px solid var(--boxcolor2);border-radius:20px}
.tabBarContainer-1s1u-z{border-top-color:var(--boxcolor2)}
/*extra bits*/
.theme-dark .message-2qRu38,.theme-dark .footer-2yfCgX,.theme-dark .elevationBorderHigh-2WYJ09{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.theme-dark .message-2qRu38{background-color:var(---boxcolor2);}
.inline-136HKr .pro-1T8RK7{color:var(--accentcolor)}
/*search menu*/
.theme-dark .searchPopout-1vUlP3,.theme-dark .container-3ayLPN,.theme-dark .focused-2bY0OD{background-color:var(--boxcolor);border:none !important;}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3{color:var(--accentcolor);background:var(--boxcolor);}
.theme-dark .option-96V44q.selected-rZcOL-{background-color:var(--boxcolor);}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,.theme-dark .focused-2bY0OD{color:var(--accentcolor);}
.theme-dark .option-96V44q .filter-3Y_im-{color:var(--accentcolor2)!important;text-shadow:0 0 2px #000;}
.theme-dark .option-96V44q .answer-1n6g43, .theme-dark .option-96V44q .nonText-3CRkO0, .theme-dark .option-96V44q strong{color:var(--accentcolor)}
.search-results-wrap .channel-separator .channel-name,.app .search-results-wrap .search-header{background:transparent !important;}
.theme-dark .resultsGroup-r_nuzN:before,.theme-dark .search-results-wrap .search-result.expanded,.theme-dark .search-results-wrap .search-result .search-result-message.hit{border:none;}
.theme-dark .option-96V44q:after{background:linear-gradient(to right, rgba(0,0,0,0) 0%,var(--boxcolor) 100%);}
.theme-dark .option-96V44q.selected-rZcOL-:after{background:linear-gradient(to right, rgba(0,0,0,0) 0%,var(--boxcolor) 50%);}
.theme-dark .search-results-wrap .search-result:before{background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,var(--boxcolor) 100%); !important;}
.theme-dark .search-results-wrap .search-result:after{background: linear-gradient(to top, rgba(0,0,0,0) 50%,var(--boxcolor) 100%); !important;}
.theme-dark .search-results-wrap .search-result .hit{box-shadow: 0 0 10px 6px var(--boxcolor);}
.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {background-color: transparent;border-bottom: 2px solid var(--boxcolor);
border-top: 2px solid var(--boxcolor);box-shadow: 0 0 4px 4px var(--boxcolor);}
.theme-dark .search-results-wrap .channel-separator:before{border-color:transparent}
.theme-dark .dim-1l4L4y span{background-color:rgba(0,0,0,.4);color:var(--accentcolor);border: 1px solid var(--boxcolor);box-shadow: inset 0 -4px 0 rgba(0,0,0,.2);}
/*tool tips*/
.tooltip {background-color:var(--boxcolor) !important;}
.tooltip.tooltip-black{background-color:var(--boxcolor) !important;}
.tooltip.tooltip-top:after {border-top-color: var(--boxcolor) !important;}
.tooltip.tooltip-bottom:after {border-bottom-color: var(--boxcolor) !important;}
.tooltip.tooltip-black.tooltip-right:after{border-right-color:var(--boxcolor);}

/*mentions*/
.wrapper-232cHJ,.mention-1f5kbO{background-color:var(--boxcolor);text-shadow:0 0 1px #000;}
.wrapper-232cHJ:hover,.mention-1f5kbO:hover{background-color:var(--boxcolor);}
.app .wrapper-3WhCwL{background-color:var(--boxcolor);color:var(--accentcolor);text-shadow:0px 0px 2px var(--boxcolor);border-radius: 5%;}
.app .isMentioned-N-h9aa {background: var(--boxcolor); margin-left:8px;}
.isMentionedCozy-3isp7y:after{background: transparent;border-left:6px solid var(--accentcolor);}
.unreadBar-17qm9c{background:var(--boxcolor)}

/*member list*/
.app .memberOnline-1CIh-0{color:hsla(0, 0%, 100%, .7);}

/*code box*/
.bda-dark .markup-2BOw-j pre {background:var(--boxcolor) !important;text-shadow: 0 0 2px rgba(0,0,0,1);border: 1px solid #000 !important;}
.app .containerCozy-jafyvG .markup-2BOw-j code.inline{background: rgba(0, 0, 0, 0.4);color:var(--accentcolor);}
.app .containerCozy-jafyvG .markup-2BOw-j pre code {background: transparent;box-shadow: 0 0 3px 1px #000;}
.app .markup-2BOw-j code{background-color:var(--boxcolor);}
.theme-dark .markup-2BOw-j code{/* background-color:transparent !important; */}
/*dividers*/
.app .divider-3gKybi span {background-color: rgba(0,0,0,.4) !important;}
.app .divider-3gKybi:before{background-color:transparent !important;}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI{color:var(--accentcolor2)}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before{border-color:var(--accentcolor2)}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI{color:var(--accentcolor);}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before{border-color:var(--accentcolor)}
/*avatars & status*/
#app-mount .status-oxiHuE{border-radius: 20%}
.maskProfile-1ObLFT,.mask-3OgeRz {-webkit-mask: none;mask: none;}
.image-33JSyf, .wrapper-2F3Zv8{border-radius: 20%;}

/*voicechat*/
.avatarSpeaking-1wJCNq, .avatarDefault-35WC3R, .avatarContainer-72bSfM {border-color: transparent !important;box-shadow: none !important;z-index: 10;}
.avatarSpeaking-1wJCNq::before {content: "";position: absolute;left: -5px;width: 4px;height: 20px;background: #5a3f72;}
.avatarSpeaking-1wJCNq::after {content: "";position: absolute;height: 20px;left: -5px;width: 100%;background: linear-gradient(to right, #5a3f72 0%, transparent 35%);opacity: 0.5;z-index: -1;}

/*voice connected*/
.container-1UB9sr{background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,var(--boxcolor) 100%);border-radius:10px}

/*menu bar*/
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,.side-8zPYf6 .item-PXvHYJ{color:var(--accentcolor);}
.side-8zPYf6 .itemSelected-1qLhcL{background-color: var(--boxcolor) ;color:var(--accentcolor)}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,.app .side-8zPYf6 .itemDefault-3Jdr52:hover,
.theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover{background-color:var(--boxcolor);color:var(--accentcolor);}

/*home icon*/
#app-mount .homeIcon-1FoKUJ {background: url('https://i.imgur.com/naHr38x.png');background-color: rgba(0,0,0,0)!important;color: rgba(0,0,0,0);background-position: center;background-size: cover;}
.guilds-1q_RqH > .guild-1EfMGQ:first-child > .guildInner-3DSoA4{background:none !important;}
/* guild add button */
.theme-dark .guildsAdd-21_IdK{color:var(--boxcolor2);background:rgba(0,0,0,.2);border:none;}
.theme-dark .guildsAdd-21_IdK:hover{color:var(--accentcolor);}
/*emote menu*/
.emojiPicker-3m1S-j{border:1px solid transparent !important;}
.bda-dark #bda-qem,.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container{background:var(--Transparency)}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6,.emojiPicker-3m1S-j .stickyHeader-1SS0JU,
.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar{background:transparent !important;}
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar{display:none;}
.bda-dark #bda-qem button{border-color:transparent !important;background:var(--Transparency);color:var(--accentcolor);border:none !important;box-shadow: var(--Transparency) 1px 0 0 0;}
.bda-dark #bda-qem{border:none !important;}
.bda-dark #bda-qem button.active,.bda-dark #bda-qem button:hover{background-color:var(--boxcolor2)}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S{border-bottom-color:var(--accentcolor)}

/* buttons */

/* guild bar */
.guild-1EfMGQ.selected-ML3OIq:before,.guild-1EfMGQ.unread-qLkInr:before{border-radius: var(--round2);height: 110%;margin-top: -55%;left: -5%;width: 110%;}
.guild-1EfMGQ.unread-qLkInr:before{background-color:var(--boxcolor2)!important;}
.guild-1EfMGQ.selected-ML3OIq:before{background-color:var(--accentcolor)!important;}
