.wordmark-2iDDfm::after{content:var(--wordmark)!important;white-space: nowrap;font-size:16px;color:var(--textcolor1);}
.wordmark-2iDDfm svg {display: none;}
/*font and text shadow stuff*/
::-webkit-input-placeholder, body, button, input, select, textarea{font-family: var(--font)!important;text-shadow:var(--textshadow)!important;text-rendering: optimizeLegibility !important;}
::-webkit-input-placeholder{color:var(--accentcolor) !important}
#app-mount .textArea-2Spzkt,#app-mount .markup-2BOw-j,#app-mount .membersGroup-v9BXpm,#app-mount .activity-1IYsbk,#app-mount .header-ykumBX .title-3pkaKd {color:var(--textcolor)!important;}
/* Scrollbars */
::-webkit-scrollbar-thumb {border:2px solid var(--boxcolor2) !important;background-color:transparent !important;} 
.scrollerWrap-2su1QI .scroller-2FKFPG::-webkit-scrollbar{width:10px!important;}
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece,::-webkit-scrollbar-track {border-color: transparent !important; background: transparent !important;} 
::-webkit-scrollbar-corner {display: none !important;}
.scrollbar-3dvm_9::-webkit-scrollbar{width:8px;}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb{border-radius:5px} 

/*disabling scroll bar on emoji*/

/*basic main transparent elements*/

/*background image*/
#app-mount {background: var(--background) center top/cover no-repeat;animation: none;} 

/*back ground stuff*/ 
.container-2lgZY8, #app-mount .content-yTz4x3, #app-mount .chat-3bRxxu, .container-2Thooq, .container-PNkimc, #app-mount .layer-3QrUeG, #app-mount .layers-3iHuyZ, #app-mount .typing-2GQL18, .video-1FfuMD, .libraryHeader-3g95kE
    {background: rgba(0, 0, 0, 0) !important;}
#app-mount .headerBar-UHpsPw,.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug{background:rgba(0,0,0,0)}
.theme-dark .backdrop-1wrmKB{opacity:.3 !important;}
.contentRegion-3nDuYy, .sidebarRegion-VFTUkN, #app-mount .standardSidebarView-3F1I7i, .theme-dark .rowWrapperActive-2L7i9f, #app-mount .standardSidebarView-3F1I7i .content-region{background:rgba(0,0,0,.2) !important;}
/* box-shadow and webkit box shadow removal */
#app-mount .headerBar-UHpsPw,#app-mount .header-ykumBX,#app-mount .messagesPopoutWrap-1MQ1bW,#app-mount .modal-3HD5ck,.searchBar-6Kv8R2,#app-mount .menu-Sp6bN1,
    .popout-3sVMXz,.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug{box-shadow:none;-webkit-box-shadow:none;}

.channels-Ie2l6A, #app-mount .messagesWrapper-3lZDfY, #app-mount .members-1998pB, #app-mount .activityFeed-28jde9, #app-mount .wrapper-29NfPK, .search-bar.search-bar-light .search-bar-inner,
    #app-mount .search-results-wrap, #app-mount .search-results-wrap .search-result .search-result-message.hit, #app-mount .search-results-wrap .search-result.expanded .search-result-message.hit,
    #app-mount .guildsWrapper-5TJh6A, #friends,#app-mount #friends,.theme-dark .root-1BQpZw,#app-mount .title-3qD0b-{background: var(--Transparency);}

/*member icon color*/
#app-mount .member-3W1lQa:hover .content-OzHfo4, .member-3W1lQa.popout-open .content-OzHfo4, .member-3W1lQa .popout-open .content-OzHfo4{background:transparent; border-left:4px solid var(--accentcolor)}

/*member icon zoom on hover*/
.member-3W1lQa{transition: transform 0.3s;}
.member-3W1lQa:hover{transform: scale(1.05);}

/* hide dividers */ 
.guildSeparator-1X4GQ1,.theme-dark .divider-3573oO,.side-8zPYf6 .separator-gCa7yv,.theme-dark #bd-settings-sidebar .ui-tab-bar-separator{display:none;}

/* no idea where this stuff goes currently */
#app-mount .dividerEnabled-2TTlcf,#app-mount .channelTextArea-rNsIhG,.container-1UB9sr{border:none;}
#app-mount .attachButtonDivider-3Glu60,#app-mount .divider-2PMBlV{display:none}
.base-3dtUhz{border-radius:0 0 0 0}
#app-mount .homeIcon-1FoKUJ{display:block;}
.separator-2zcjq8{border:none}
.username-_4ZSMR{text-shadow:1px 1px #000;}
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g{fill:var(--accentcolor)}
.theme-dark .hasMoreButton-1MELpI{color:var(--accentcolor);background:var(--boxcolor);border:none;}
/* libary bits */
#app-mount .header-39GIC8{border-bottom-color:transparent;}
#app-mount .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY{border-top-color:transparent;}
#app-mount .headerCell-3L6rFG{border-left-color:transparent;}
#app-mount .header-39GIC8{background:background: -webkit-linear-gradient(top, rgba(0,0,0,0) 5%,var(--Transparency) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 5%,var(--Transparency) 100%);border-radius:0 0 10px 10px;}
#app-mount .headerCell-3L6rFG,#app-mount .headerCell-3L6rFG:hover:not(.headerCellSorted-3a5AzJ){color:var(--textcolor1)}
#app-mount .headerCellSorted-3a5AzJ{color:#fff;}
/*here is where it says typing...*/
#app-mount .typing-2GQL18{background: transparent !important;}
 /*around the text box*/
#app-mount .chat-3bRxxu form {Background:var(--Transparency);	margin-left: 0px !important;margin-right: 0px !important;}
.channelTextArea-rNsIhG {padding-top: 10px;}
/*here is where the textbox is*/ 
#app-mount .inner-zqa7da {background: var(--Transparency);margin-left: 20px;margin-right: 20px;border-radius:20px;border: 2px solid var(--boxcolor2);} 
.innerAutocomplete-1PN280{border-radius:0 0 20px 20px;}
/*title*/
#app-mount .title-3qD0b-,.header-2o-2hj{-webkit-box-shadow: none;box-shadow: none;}
/*top title bar*/
.titleBar-AC4pGV::after {background: var(--Transparency) !important;content:"";position:absolute;z-index:-1;top:0;left:0;right:0;width:100%;height:22px;}

/* blocked messages and chat area dividers */
#app-mount .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,#app-mount .messageGroupBlocked-3wrQQX{background-color: var(--boxcolor)!important;border:none;border-radius:5px;color:var(--accentcolor)}
#app-mount .messageGroupBlocked-3wrQQX.revealed-1_RKsf{background-color: var(--boxcolor)!important;border:none;}


/*channel zoom on hover*/
.contentHoveredText-2D9B-x:hover, .contentHoveredVoice-3p_NEO:hover{transform: scale(1.05);} 

#app-mount .username-_4ZSMR{opacity: .9;}

/* Roundness */
#app-mount .mask-3OgeRz {-webkit-mask: none;mask: none;}

#app-mount .image-33JSyf,#app-mount .avatar-large, #app-mount .avatar-profile, #app-mount .small-5Os1Bb,#app-mount .avatar-small,#app-mount .avatarHint-1qgaV3,
#app-mount .title-3qD0b- .status, #app-mount .titleCall-_b9o8P .status, #app-mount .avatar-xlarge,#app-mount .avatar-xsmall, #app-mount .avatar-xxlarge{border-radius: var(--round);}

.header-2o-2hj:hover,.popout-open .header-2o-2hj{border-radius:15px;background-color:var(--boxcolor)}

/*search bar*/
#app-mount .search .searchBar-2_Yu-C, #app-mount .search .search-bar,.theme-dark .libraryFilterInput-3JzqZD{background-color: var(--boxcolor);}
.search-bar .search-bar-inner,.search-bar{border:none;background:rgba(0,0,0,0);}
.search-bar input::-webkit-input-placeholder,#app-mount .search .search-bar .public-DraftEditorPlaceholder-root{color:var(--accentcolor);font-size:1.1em !important;}
/*channel select*/
.unread-1Dp-OI{display:none;}
.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB{color:var(--accentcolor)}
.channel-2QD9_O.selected-1HYmZZ a,.channel-2QD9_O:hover a {background-color:var(--boxcolor)}
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM,.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO{background: transparent;transition: transform 0.3s;
    border-radius: 3px;border-left: 5px solid var(--boxcolor2);box-sizing:border-box;}
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H{color:var(--accentcolor2);}
.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1{color:var(--accentcolor2);}
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ,.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw{color:#343434;}
.nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5,.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd, .nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI{color:var(--accentcolor);}
.colorConnectedText-1c_uzY,.colorDefaultText-oas-QM, .colorConnectedVoice-3kyvUN, .colorDefaultVoice-3wYlhb,
.colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl{color:var(--accentcolor2);opacity:1;}
.colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK, .colorUnreadText-2t7XRb, .colorUnreadVoice-137o4S{color:var(--accentcolor);opacity:1;}
/*context menu*/
#app-mount .contextMenu-HLZMGh{background-color: var(--Transparency);color:var(--accentcolor);border-radius: 10px;border: 2px solid var(--accentcolor);}
#app-mount .contextMenu-HLZMGh{padding:2px}
#app-mount .contextMenu-HLZMGh .item-1Yvehc{color: var(--accentcolor);}
#app-mount .itemGroup-1tL0uz{border-color:var(--boxcolor)}
#app-mount .contextMenu-HLZMGh .item-1Yvehc:hover{color: var(--accentcolor);border-left: 4px solid var(--accentcolor);background: transparent;border-radius: 3px;}
#app-mount .itemGroup-1tL0uz{border-color: transparent;}
#app-mount .autocomplete-1vrmpx,#app-mount .autocompleteInner-zh20B_{background-color: rgba(0,0,0,.4);box-shadow: 0 0 3px 1px #000;}
.userPopout-3XzG_A{background:rgba(0,0,0,.4);border:2px solid var(--boxcolor2);}

#app-mount .menu-Sp6bN1{background-color: var(--boxcolor); color:var(--accentcolor); border-radius: 5%}
#app-mount .item-1GzJrl{color: var(--accentcolor);}
#app-mount .item-1GzJrl:hover{background: var(--boxcolor);color: var(--accentcolor);}
#app-mount .item-1GzJrl.leave-1DRJfn{color:rgba(255, 50, 50, .8);text-shadow:0 0 1px rgba(0,0,0,.8);}
.lookFilled-1Gx00P.colorRed-1TFJan{background-color:rgba(255, 50, 50, .6);}
.lookFilled-1Gx00P.colorRed-1TFJan:hover{background-color:rgba(255, 80, 80,1);}

#app-mount .autocomplete-1vrmpx,#app-mount .autocompleteInner-zh20B_{background-color: rgba(0,0,0,.4);box-shadow: 0 0 3px 1px #000;}
#app-mount .selectorSelected-1_M1WV{border:2px solid var(--boxcolor);}
#app-mount .selectorSelected-1_M1WV{background-color:rgba(0,0,0,.2);}

#app-mount .container-3cGP6G{background:var(--Transparency);}
#app-mount .item-2J1YMK{color:var(--boxcolor2)}
#app-mount .item-2J1YMK:active, #app-mount .item-2J1YMK:hover{color:var(--accentcolor)}
/*modals*/
#app-mount .modal-3HD5ck,#app-mount .keyboardShortcutsModal-3piNz7{background:var(--boxcolor);}
#app-mount .wrapper-2ZbzR9{background:transparent !important;}
#app-mount .defaultColor-1_ajX0{color:#fff;}
#app-mount .primary-jw0I4K,#app-mount .protip-YaFfgO{color:var(--textcolor);}
#app-mount .close-18n9bP{color:var(--textcolor);}
/* upload modal */
.uploadModal-2ifh8j,.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{background-color:var(--boxcolor);border:2px solid var(--accentcolor);}
.uploadModal-2ifh8j .footer-3mqk7D{background-color:transparent;}
.uploadModal-2ifh8j .footer-3mqk7D .button{margin-right:4px;color:var(--accentcolor);background-color:var(--boxcolor);height: 38px;}
.uploadModal-2ifh8j .footer-3mqk7D .button:hover{opacity:0.8;text-decoration:none;}
.uploadModal-2ifh8j .footer-3mqk7D .button-primary{margin-right:0px!important;background-color:var(--boxcolor);}
.uploadModal-2ifh8j .inner-3nWsbo{border:none}
.theme-brand .inner-zqa7da{background-color:var(--boxcolor)}
/*pinned message modal*/
#app-mount .header-ykumBX,#app-mount .footer-1kmXd4{background-color:transparent!important;border:none !important;}
#app-mount .messagesPopoutWrap-1MQ1bW{background-color: var(--Transparency);border:2px solid var(--boxcolor);}
#app-mount .messageGroupWrapper-o-Zw7G{background-color:transparent;border:2px solid var(--boxcolor);}
#app-mount .emptyPlaceholder-1zh-Eu .body-bvcIjN{color:var(--textcolor)}
/*profile modals*/
#app-mount .body-3iLsc4, #app-mount .footer-1fjuF6,#app-mount .note-3kmerW textarea:focus{background:var(--Transparency);}
#app-mount .quickMessage-1yeL4E{background:var(--boxcolor);border-color:transparent;}
#app-mount .quickMessage-1yeL4E::-webkit-input-placeholder,#app-mount .note-3kmerW textarea::-webkit-input-placeholder{color:var(--accentcolor)}
.bodyTitle-Y0qMQz{color:var(--textcolor1);}
#app-mount .note-3kmerW textarea{color:var(--textcolor)}
#app-mount .footer-1fjuF6{border-color:transparent !important;}
.userPopout-3XzG_A{box-shadow:none; -webkit-box-shadow:none;}
.bodyTitle-Y0qMQz{color:var(--textcolor)}
.theme-dark .connectedAccount-36nQx7{border:2px solid var(--boxcolor);}
.theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx{border-color:var(--boxcolor);}
/* profile roles */
.roleCircle-3xAZ1j{border-radius:var(--round)}
.role-2irmRk{border:2px solid; border-radius:6px;}
/* profile role large modal */
.theme-dark .container-VSDcQc .sectionTag-pXyto9, .theme-dark .autocompleteHeaderBackground-30T70q{color:var(--textcolor);background:var(--Transparency);}
.theme-dark .row-rrHHJU, .theme-dark .row-rrHHJU span,.theme-dark .container-VSDcQc .headerText-3i6A8K{color:var(--textcolor)}
.theme-dark .row-rrHHJU.selected-1pIgLL{color:var(--textcolor);background:var(--Transparency);border-left:4px solid var(--boxcolor2);}
.container-VSDcQc{border:2px solid var(--boxcolor2)}
/*full sized profile*/
#app-mount .topSectionNormal-2-vo2m,#app-mount .headerNormal-T_seeN{background-color:var(--Transparency);}
.topSectionPlaying-1J5E4n,#app-mount .headerPlaying-j0WQBV{background-color:var(--boxcolor2)}
.topSectionStreaming-1Tpf5X,#app-mount .headerStreaming-2FjmGz{background-color:rgba(80, 0, 255, 0.6)}
.topSectionSpotify-1lI0-P,#app-mount .headerSpotify-zpWxgT{background-color:rgba(33, 255, 141, 0.6)}
.topSectionXbox-3fWLjS,#app-mount .headerXbox-3G-4PF{background-color:rgba(255, 89, 0, 0.6)}
.headerFill-adLl4x{background-color:rgba(0,0,0,.2)}
#app-mount .body-3ND3kc{background:var(--Transparency)}
.root-SR8cQa{border: 2px solid var(--boxcolor2);border-radius:20px}
.tabBarContainer-1s1u-z{border-top-color:var(--boxcolor2)}
/*extra bits*/
#app-mount .message-2qRu38,#app-mount .footer-2yfCgX,#app-mount .elevationBorderHigh-2WYJ09{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
#app-mount .message-2qRu38{background-color:var(---boxcolor2);}
.inline-136HKr .pro-1T8RK7{color:var(--accentcolor)}

/* search bar mini */
.theme-dark .search-2oPWTC .searchBar-3dMhjb{background-color:var(--boxcolor);}
.theme-dark .search-2oPWTC .searchBar-3dMhjb .public-DraftEditorPlaceholder-root{color:var(--accentcolor)}
/*search menu*/
#app-mount .searchPopout-1vUlP3,#app-mount .container-3ayLPN,#app-mount .focused-2bY0OD{background-color:var(--boxcolor);border:none !important;}
#app-mount .searchAnswer-3Dz2-q, #app-mount .searchFilter-2ESiM3{color:var(--accentcolor);background:var(--boxcolor);}
#app-mount .option-96V44q.selected-rZcOL-{background-color:var(--boxcolor);}
#app-mount .resultsGroup-r_nuzN .header-2N-gMV,#app-mount .focused-2bY0OD{color:var(--accentcolor);}
#app-mount .option-96V44q .filter-3Y_im-{color:var(--accentcolor2)!important;text-shadow:0 0 2px #000;}
#app-mount .option-96V44q .answer-1n6g43, #app-mount .option-96V44q .nonText-3CRkO0, #app-mount .option-96V44q strong{color:var(--accentcolor)}
#app-mount .option-96V44q:after{background:linear-gradient(to right, rgba(0,0,0,0) 0%,var(--boxcolor) 100%);}
#app-mount .option-96V44q.selected-rZcOL-:after{background:linear-gradient(to right, rgba(0,0,0,0) 0%,var(--boxcolor) 50%);}
/* search results & expanded */
.theme-dark .searchResultsWrap-2DKFzt{background:var(--Transparency)}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA,
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA{background-color:var(--Transparency);box-shadow:none;-webkit-box-shadow:none;}
.theme-dark .searchHeader-1l-wpR,.theme-dark .channelSeparator-1X1FuH .channelName-1QajIf{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.theme-dark .channelSeparator-1X1FuH:before{border:none}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz{border:2px solid var(--boxcolor2)}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz{background-color:rgba(0,0,0,.2)}
.theme-dark .searchResult-3pzFAB:before,.theme-dark .searchResult-3pzFAB:after{background:none}

/*tool tips*/
.tooltip-1OS-Ti {background-color:var(--boxcolor) !important;}
.tooltip-1OS-Ti.black-2bmmnj{background-color:var(--boxcolor) !important;}
.tooltip-1OS-Ti.top-1pTh1F:after {border-top-color: var(--boxcolor) !important;}
.tooltip-1OS-Ti.bottom-19kp6S:after {border-bottom-color: var(--boxcolor) !important;}
.tooltip-1OS-Ti.black-2bmmnj.right-KM_vfY:after{border-right-color:var(--boxcolor);}

/*mentions*/
.wrapper-232cHJ,.mention-1f5kbO{background-color:var(--boxcolor);text-shadow:0 0 1px #000;}
.wrapper-232cHJ:hover,.mention-1f5kbO:hover{background-color:var(--boxcolor);}
#app-mount .wrapper-3WhCwL{background-color:var(--boxcolor);color:var(--accentcolor);text-shadow:0px 0px 2px var(--boxcolor);border-radius: 5%;}
#app-mount .isMentioned-N-h9aa {background: var(--boxcolor); margin-left:8px;}
.isMentionedCozy-3isp7y:after{background: transparent;border-left:6px solid var(--accentcolor);}
.unreadBar-17qm9c{background:var(--boxcolor)}

/*member list*/
#app-mount .memberOnline-1CIh-0{color:hsla(0, 0%, 100%, .7);}

/*code box*/
#app-mount .markup-2BOw-j pre, .markup-2BOw-j pre {background:var(--Transparency) !important;text-shadow: 0 0 2px rgba(0,0,0,1);border: 2px solid var(--boxcolor) !important;}
#app-mount .containerCozy-jafyvG .markup-2BOw-j code.inline{background: rgba(0, 0, 0, 0.4);color:var(--accentcolor);border: 2px solid var(--boxcolor2);}
#app-mount .containerCozy-jafyvG .markup-2BOw-j pre code {background: transparent;box-shadow:none;}
#app-mount .markup-2BOw-j code{background-color:var(--boxcolor);}
#app-mount .markup-2BOw-j code{background-color: transparent;}
/*dividers*/
#app-mount .divider-3gKybi span{background-color:transparent !important;}
#app-mount .divider-3gKybi:before{background-color:transparent !important;}
#app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI{color:var(--accentcolor2)}
#app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, #app-mount .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before{border-color:var(--accentcolor2)}
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI{color:var(--accentcolor);}
#app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:after, #app-mount .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI:before{border-color:var(--accentcolor)}
/*avatars & status*/
#app-mount .status-oxiHuE{border-radius: 20%}
.maskProfile-1ObLFT,.mask-3OgeRz {-webkit-mask: none;mask: none;}
.image-33JSyf, .wrapper-2F3Zv8{border-radius: 20%;}

/*voicechat*/
.avatarSpeaking-1wJCNq, .avatarDefault-35WC3R, .avatarContainer-72bSfM {border-color: transparent !important;box-shadow: none !important;z-index: 10;}
.avatarSpeaking-1wJCNq::before {content: "";position: absolute;left: -5px;width: 4px;height: 20px;background: #5a3f72;}
.avatarSpeaking-1wJCNq::after {content: "";position: absolute;height: 20px;left: -5px;width: 100%;background: linear-gradient(to right, #5a3f72 0%, transparent 35%);opacity: 0.5;z-index: -1;}
/* voice chat connecction modal */
.theme-dark .container-2x5lvQ header,.theme-dark .container-2x5lvQ section{background:var(--boxcolor)}
.theme-dark .popout-2GtBL-:after{border-top-color:var(--boxcolor)}
.popout-3sVMXz header{border-radius:10px 10px 0 0!important;}
.popout-3sVMXz section{border-radius: 0 0 10px 10px;}

/*voice connected*/
.container-1UB9sr{background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,var(--boxcolor) 100%);border-radius:10px}

/*menu bar + settings*/

.theme-dark .cardPrimary-1Hv-to{background-color:var(--boxcolor);border:none;}
.theme-dark #bd-settingspane-container .ui-switch-item h3{color:#fff}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch,.themeDefault-24hCdX{background-color:var(--boxcolor)}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,.themeDefault-24hCdX.valueChecked-m-4IJZ{background-color:var(--accentcolor)}
.theme-dark .bda-slist .bda-header{color:#fff;border-bottom-color:transparent;}
.theme-dark .bda-slist .bda-footer{border-top-color:transparent;}
.theme-dark .bda-slist li{background-color:var(--boxcolor);border:none;}
.bda-slist .bda-footer button,.bd-pfbtn{color:var(--accentcolor);background-color:var(--boxcolor)}
.bda-slist .bda-footer button:hover{background-color:var(--accentcolor2)}
.theme-dark #bd-settingspane-container .ui-switch-item .style-description{color:var(--textcolor1)}
.theme-dark .header-2RyJ0Y,.theme-dark #bd-settings-sidebar .ui-tab-bar-header{color:var(--accentcolor)}
.bda-slist .bda-footer a{color:var(--accentcolor)}
#app-mount #bd-settings-sidebar .ui-tab-bar-item,.side-8zPYf6 .item-PXvHYJ{color:var(--textcolor);}
.side-8zPYf6 .itemSelected-1qLhcL{background-color: var(--boxcolor) ;color:var(--accentcolor)}
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover,#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected,#app-mount .side-8zPYf6 .itemDefault-3Jdr52:hover,
#app-mount .side-8zPYf6 .itemHover-EnbcjT:hover{background-color:var(--boxcolor);color:var(--accentcolor);}
#bd-settingspane-container .ui-switch-item .style-description{border-bottom-color:transparent;}
.title-3sZWYQ{margin-top:5px;}
.theme-dark .user-settings-games .game,.theme-dark .installationPath-24giJj,.theme-dark .notificationsSound-27jFSh{box-shadow:none;-webkit-box-shadow:none;}
/*home icon*/
#app-mount .homeIcon-1FoKUJ {background: url('https://i.imgur.com/naHr38x.png');background-color: rgba(0,0,0,0)!important;color: rgba(0,0,0,0);background-position: center;background-size: cover;}
.guilds-1q_RqH > .guild-1EfMGQ:first-child > .guildInner-3DSoA4{background:none !important;}

/*emote menu*/
.emojiPicker-3m1S-j{border:1px solid transparent !important;}
.bda-dark #bda-qem,.bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j,.bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container,
    #bda-qem, .emoji-picker,  .emojiPicker-3m1S-j, #bda-qem-favourite-container,
    #bda-qem-twitch-container,.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R{background:var(--Transparency);}
.bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6, .emojiPicker-3m1S-j .stickyHeader-1SS0JU, .emojiPicker-3m1S-j .header-1nkwgG .search-bar,
 .emoji-picker .category, .emojiPicker-3m1S-j .category-2U57w6, .emojiPicker-3m1S-j .stickyHeader-1SS0JU, .emojiPicker-3m1S-j .header-1nkwgG .search-bar,.searchBar-2_Yu-C.searchBarLight-1NxoDG{background:transparent !important;}
/* .bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar, .bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,
    #bda-qem-twitch-container .scroller::-webkit-scrollbar, #bda-qem-favourite-container .scroller::-webkit-scrollbar{display:none;} */
.bda-dark #bda-qem button,#bda-qem button{border-color:transparent !important;background:var(--Transparency);color:var(--accentcolor);border:none !important;box-shadow: var(--Transparency) 1px 0 0 0;}
.bda-dark #bda-qem,#bda-qem{border:none !important;}
.bda-dark #bda-qem button.active,.bda-dark #bda-qem button:hover,#bda-qem button.active,#bda-qem button:hover{background-color:var(--boxcolor2)}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S{border-bottom-color:var(--accentcolor)}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar{width:8px;}
.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,.emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece{background-color:transparent!important;}
.emojiPicker-3m1S-j .category-2U57w6{color:var(--accentcolor)}
.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R{border-radius:5px!important}
/* guild bar */
.guild-1EfMGQ .guildInner-3DSoA4{background-color:rgba(0,0,0,.2)!important;}

#app-mount .friendsOnline-_wi_fM {color:var(--textcolor)}
#app-mount .bar-30k2ka {background: var(--accentcolor);text-align: left}
/* guild add button */
#app-mount .guildsAdd-21_IdK{color:var(--boxcolor2);background:rgba(0,0,0,.2);border:none;border-radius:10px}
#app-mount .guildsAdd-21_IdK:hover{color:var(--accentcolor);}
/* store and game libary */
#app-mount .applicationStore-1pNvnv,#app-mount .gameLibrary-TTDw4Y,#app-mount .root-1bFE0x,#app-mount .row-1bU71H,#app-mount .card-NB61oR,#app-mount .bodySection-jqkkIP{background-color:var(--Transparency)}
#app-mount .tileMedia-1q3guD,#app-mount .tileMedia-1q3guD:hover{background-color:var(--boxcolor);}
#app-mount #app-mountlicationMedia-2KCz_t,#app-mount .itemBackground-1jfD8p,#app-mount .tileMedia-1q3guD,#app-mount .root-1bFE0x,#app-mount .item-3V15ea,#app-mount .card-NB61oR{border-radius:10px !important;}
.splash-3K76bN, .splashPlaceholder-1ev-9c,.section-foaVwT:first-child{border-radius:10px 10px 0 0}
#app-mount .description-3rB3Rp,.section-foaVwT:last-child{border-radius:0 0 10px 10px}
#app-mount .bodySection-jqkkIP{border-top-color:transparent;}
#app-mount .card-NB61oR{color:var(--accentcolor)}

#app-mount .row-1bU71H{color:var(--textcolor);border-radius:10px}

#app-mount .itemBackground-1jfD8p,#app-mount .tileMedia-24cT6_{background:transparent;}
#app-mount .itemBackground-1jfD8p:before{background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(54,0,112,0) 72%,rgba(75,0,155,0.15) 100%);
background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(54,0,112,0) 72%,rgba(75,0,155,0.15) 100%);border-radius:10px;}

#app-mount .applicationTile-1Goy1W:hover{background-color:var(--Transparency);border:2px solid var(--boxcolor2);box-sizing: border-box;}
#app-mount .applicationTile-1Goy1W{background-color:var(--Transparency);border:2px solid transparent;border-radius:10px;}
#app-mount .popout-2xBvMR{background-color:rgba(0,0,0,.8);}
#app-mount .iconCircle-1dlYo0{color:var(--Transparency);background-color:var(--boxcolor2);}
#app-mount .circle-1nK_79,#app-mount .popout-2xBvMR{color:var(--textcolor)}
#app-mount .smallHeader-2h-9-U{color:var(--accentcolor)}
#app-mount .description-3rB3Rp,#app-mount .footer-3oZnEF{background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(51,13,64,0) 72%,var(--boxcolor) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(51,13,64,0) 72%,var(--boxcolor) 100%);}
#app-mount .mediaFade-1SdEfL{background:none;}
#app-mount .premium-39U29H:before{background:none}

.scrollerStore-390omS::-webkit-scrollbar-track{background-color:transparent!important}

#app-mount .premium-39U29H{background:var(--Transparency)}
#app-mount .footer-3oZnEF{border-radius:0 0 20px 20px}

/* misc text color adjustments */
.theme-dark .keyboardShortcutList-13cQ-8 .keybindGroup--6Qp-w .keybindDescription-2RDbC2,.theme-dark .item-30Gz8g,.theme-dark .bda-slist .bda-description{color:var(--textcolor)}
.theme-dark .h5-18_1nd{color:var(--accentcolor)}
/* buttons */
#app-mount .jumpButton-3DTcS_{color:var(--accentcolor);background-color:var(--boxcolor2)}
#app-mount .jumpButton-3DTcS_:hover{background-color:var(--accentcolor2)}
#app-mount .jumpToPresentBar-9P20AM{background:var(--Transparency);border-radius:5px;padding:1px;border:2px solid var(--boxcolor)}
.bf-toolbar .bf-arrow{margin-right:8px;}
.jumpToPresentBar-9P20AM button:last-child{margin-right:8px;color:var(--textcolor)}
