//META{"name":"lilacmedb","description":"a clear wallpaper theme credits to satoru for help and css snippets","author":"moth","version":"0.3"}*//{}

@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/lilacmedb.css);
@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/guildborder.css); 
@import url('https://fonts.googleapis.com/css?family=Mandali');

:root {
	--wordmark: "lilacmedb by moth#0243"; /*you can free change the wordmark, but i ask you to not claim the theme as you own, i still own the imports they are the theme not this file*/
	--background: url(https://i.imgur.com/rbTInWz.jpg);  /*Wallpaper. gifs will work but won't be animated*/
	--homeiconbg: url('');
	--Transparency: hsla(0, 0%, 0%, 0.3); /*background darkness last number (alpha) 0 is clear 1 is opaque*/
	--boxcolor: rgba(243, 170, 255,.4);/*second accent color with transparency*/
	--boxcolor2: rgba(126, 46, 184,.6);/*primary accent color with transparency*/
	--accentcolor: #f1e1ff; /*other accent color #7e2eb8*/
	--accentcolor2: #7e2eb8; /*secondary accent color this color isn't used a lot, box color will see more use you can probably ignore this for the most part*/
	--Round0: 20px; /*round variable in pixel value  changes the size of avatars and other small details 50% = round 0% = square*/
	--Round1: 20%; /*round variable in % value changes the size of avatars and other small details*/
	--font: 'mandali'; /*this controls all fonts, you can import google or use system font, as long as you install and then restart discord to apply them*/
	--textshadow: 0px 0px 2px rgba(0,0,0,0.8); /* the optional text shadow on everything, this is to help make text more readable.*/
	--textcolor: rgba(241,225,255,1); /*the main text color, a lot of elements are #fff i need to update those expect another variable soon*/
	--textcolor1: hsla(0,0%,100%,.5); /*this is a darker/lighter more transparent verison of textcolor for sub text*/
}
