//META{"name":"lilacmedb","description":"a clear wallpaper theme","author":"moth","version":"0.3"}*//{}

@import url(https://omnomnom215.github.io/LilacMedb-BetterDiscord-Theme/lilacmedb.css);  

:root {
    --background:url(https://i.imgur.com/rbTInWz.jpg);  /*Wallpaper.*/
    --font-size: 24px ;
	--text:  #555;
	--round: 10%;
	--Transparency: hsla(0, 0%, 0%, 0.4);
	--boxcolor: rgba(243, 170, 255,.3);
	--accentcolor: #f1e1ff; /*other accent color #5a3f72*/
	--accentcolorclear: rgba(241, 225, 255,0.4);
	--round2: 20%;
}
	
